@font-face {
    src: url(../assets/circular-std-2.ttf);
    font-family: 'Circular Std 2';
}
.results {
    &__activity {
        font-weight: bold;
        font-family: 'Circular Std 2';
        font-size: 1.2rem;
        color: hsl(253, 92%, 20%);
    }
    &__1st, &__2nd, &__3rd {
        font-weight: bold;
        font-size: 1.2rem;
        font-family: monospace;
    }
    &__1st {
        color: hsl(51, 100%, 40%);
    }
    &__2nd {
        color: hsl(0, 0%, 50%);
    }
    &__3rd {
        color: brown;
    }
}
.digital-clock {
    font-size: 2.5rem;
    font-family: monospace, Arial, 'Times New Roman';
}
.greeting {
    font-size: 2rem;
}
.greeting, .start-button, .stop-button, .reset-button {
    font-family: 'Circular Std 2';
}
.greeting, .digital-clock, .display {
    color: hsl(0, 0%, 100%);
}
.display {
    font-family: monospace, 'Circular Std 2', Arial;
    font-weight: bold;
    font-size: 1.5rem;
    color: hsl(253, 92%, 20%);
}
@media screen and (max-width: 800px) {
    .digital-clock {
        font-size: 1.7rem;
    }
    .greeting {
        font-size: 1.25rem;
    }
}