body {
    box-sizing: border-box;
    background-color: hsl(253, 92%, 20%);
}
.digital-clock, .greeting {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.greeting {
    margin: 10px auto 0;
}
.stopwatches {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
@media screen and (max-width: 600px) {
    .stopwatches {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        &__2nd, &__3rd {
            margin-top: 20px;
        }
    }
}